/* ========================================================
   ESTILOS DEL PIE DE PÁGINA (FOOTER.CSS)
   ======================================================== */

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    color: #fff;
    padding: 20px 80px;
}

.social-box {
    color: white;
    text-align: left;
}

.social-box h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: white;
    font-size: 28px;
    text-decoration: none;
    transition: 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-3px);
    opacity: 0.7;
}

.listafooter {
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
} 

#logofooter {
    width: 150px;
}
